* {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

/* NavBar Styling */
.navbar a {
    font-size: xx-large;
}

img {
    border-radius: 50%;
}

/* Page Styling */
.headerContainer {
    text-align: right;
}

#header {
    font-size: xx-large;
    color: #fffeff;
    text-align: right;
}

#searchBar {
    font-size: 20px;
    border-radius: 900px;
    width: 300px;
    padding: 5px;
}

#logOut {
    margin-left: none;
}

.contactSearch {
    box-shadow: 5px 5px 5px #00000024;
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-top: 1px solid #00000024;
    padding: 1% 0 1% 0;
}

.searchBar:focus {
    outline: rgb(168, 207, 255);
}

.searchForm {
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;

    #searchBtn,
    #addBtn {
        margin-top: 5%;
    }

    .btn-success {
        margin: 0 0 0 1%;
        width: 20vw;
    }
}

.searchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-left: 1px solid #00000024;

}

/* Contact Card Styling */
.contactCard {
    background-color: #fffeff;
    width: 77vw;
    border-radius: 0;
    /* border-top: none; */
    /* border-bottom: none; */
    border-left: 1px solid #00000024;
    opacity: 80%;
    /* border-top: none;
    border-bottom: none; */
}

.contactCard:hover {
    background-color: #fffeff;
    width: 77vw;
    border-radius: 0;
    /* border-top: none;
    border-bottom: none; */
    border-left: 1px solid #00000024;
    opacity: 100%;

    /* border-top: none;
    border-bottom: none; */
}

#contactList {
    box-shadow: 5px 5px 5px #00000024;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-top: 1px solid #00000024;
    padding: 0;
}

#displayContainer {
    box-shadow: 5px 5px 5px #00000024;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-top: 1px solid #00000024;
    padding: 0;
}

.infoSubtitle {
    border-top: 1px solid #00000024;
    opacity: 65%;
    font-style: italic;
}

.contactName {
    font-weight: 460;
    margin-bottom: 0;
}

.contactBody {
    width: 77vw
}

.contactInfo {
    padding-top: 2%;
    font-weight: 400;
    margin-bottom: 0;
}

/* Pop Up Screen */
.popUp {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed !important;
    height: auto;
    width: 40vw;
    left: 29vw;
    top: 20vh;
    z-index: 10;

}

.card-header {
    margin: auto;
    text-align: center;
    padding: 10px;
}

#closePop {
    width: 2.5vw;
    display: block;
    margin: auto;
}


#closePop:hover {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 2.55vw;
}

#popBtn {
    display: block;
    margin: 1vh auto 1vh auto;
}

.btn-close {
    display: block;

}

/* modal title css */
.modal-title {
    text-align: center;
    width: 600px;
}

#deletMod .modal-footer {
    justify-content: center;

}

.listHeaders {
    font-weight: 460;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 0;
    border-right: solid black 1px;
}

#leftHeader {
    font-weight: 460;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 0;
}